In [4]:
import yfinance as yf
import pandas as pd

# Fetch historical data for BTC-USD
data = yf.download("BAC")

# Calculate daily returns
# Daily return = (Today's Close / Yesterday's Close) - 1
data['Daily Return'] = data['Close'].pct_change()

# Remove any rows with NaN values which might be present in the first row
data.dropna(subset=['Daily Return'], inplace=True)

[*********************100%%**********************]  1 of 1 completed

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume,Daily Return
Date,,,,,,,
1973-02-22,4.640625,4.640625,4.640625,4.640625,1.576054,47200,0.003378
1973-02-23,4.625000,4.625000,4.625000,4.625000,1.570747,133600,-0.003367
1973-02-26,4.625000,4.625000,4.625000,4.625000,1.570747,24000,0.000000
1973-02-27,4.625000,4.625000,4.625000,4.625000,1.570747,41600,0.000000
1973-02-28,4.625000,4.625000,4.625000,4.625000,1.570747,66400,0.000000
...,...,...,...,...,...,...,...
2024-04-10,37.180000,37.230000,36.549999,36.650002,36.650002,37610700,-0.028624
2024-04-11,36.750000,36.750000,36.049999,36.349998,36.349998,38604000,-0.008186
2024-04-12,35.810001,36.090000,35.529999,35.790001,35.790001,47118300,-0.015406
2024-04-15,36.330002,36.759998,35.759998,35.950001,35.950001,44392000,0.004471
2024-04-16,36.095001,36.090000,34.150002,34.825001,34.825001,79411092,-0.031293