In [4]:
import yfinance as yf
import pandas as pd

In [24]:
def rm_us(str):
    return str.split(" US")[0]

us_issuances = pd.read_csv('data/Bank_Secondaries.csv')

# filter to only US
us_issuances = us_issuances[us_issuances['Country/Region'] == 'US']
us_issuances.columns = us_issuances.columns.str.strip()
us_issuances['Issuer Ticker'] = us_issuances['Issuer Ticker'].apply(rm_us)
us_issuances = us_issuances[['Announced Date', 'Issuer Ticker', 'Factor',]].rename(columns = {'Announced Date': 'Date', 'Issuer Ticker': 'Ticker','Factor':'Factor'})
us_issuances.to_csv('data/signal-raw.csv', index=False)

unique_tickers = list(us_issuances['Ticker'].unique())
unique_tickers.append("KBE")

# For some reason we are unable to append BTC and download in one file: run into yfinance error so have to download separately
data = yf.download(unique_tickers)
btc_data = yf.download("BTC-USD")

[*********************100%%**********************]  209 of 210 completed

76 Failed downloads:
[*********************100%%**********************]  209 of 210 completed['8989898D', '9745633D', 'GWB', 'OPB', 'GFED', 'STXB', '1489775D', 'SLCT', '1368189D', 'SBBX', 'LTXB', 'BOCH', 'TCF', '1495307D', '9990301D', 'UMPQ', 'BMTC', '0891179D', 'TSC', '1740293D', 'FSB', 'IBKC', 'ACBI', '1518080D', 'SSFN', '1520745D', '1935465D', '9999777D', '2370058D', 'TCFC', 'FMBI', 'MSL', 'HBMD', '2301851D', '1965436D', 'SBKK', 'NCOM', 'MFNC', 'CSFL', 'CARO', 'YRKB', '9966911D', 'FBC', '9191919D', '9998123D', 'SBTB', '1429746D', '1433410D']: Exception('%ticker%: No timezone found, symbol may be delisted')
['COB', 'CFIS', 'FMER', 'TOBC', 'FMTB', 'IBCA', 'SBCP', 'ALLB', 'SNBC', 'NPBC', 'VGBK', 'WIBC', 'TDBK', 'FCTY', 'PSTB', 'SBIB', 'SUSQ', 'BNCN', 'TNCC', 'BKYF', 'TLMR', 'UBMI', 'XBKS', 'PVTB', 'SVBA', 'OKSB', 'FUBC', 'FSGI']: Exception('%ticker%: No price data found, symbol may be delisted (1d 1925-05-19 -> 2024-04-25)')
[*********************100%%**********************]  1 of 1 completed

In [25]:
yahoo_adjclose = data['Adj Close']
yahoo_adjclose.dropna(axis=1, how='all', inplace=True)

C:\Users\micro\AppData\Local\Temp\ipykernel_33916\575493338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yahoo_adjclose.dropna(axis=1, how='all', inplace=True)

In [26]:
yahoo_adjclose['BTC'] = btc_data['Adj Close']

C:\Users\micro\AppData\Local\Temp\ipykernel_33916\1614684796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yahoo_adjclose['BTC'] = btc_data['Adj Close']

In [27]:
data['Adj Close'].pct_change()

Ticker,0891179D,1368189D,1429746D,1433410D,1489775D,1495307D,1518080D,1520745D,1740293D,1935465D,...,VLY,WAL,WBS,WD,WIBC,WL,WTFC,XBKS,YRKB,ZION
Date,,,,,,,,,,,,,,,,,,,,,
1973-05-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.015278,0.004505,-0.002863,-0.010230,NaN,0.0,0.003580,NaN,NaN,-0.003049
2024-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.054720,0.030499,0.024740,0.014003,NaN,0.0,0.021091,NaN,NaN,0.017329
2024-04-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.019455,0.021414,0.016814,0.011837,NaN,0.0,0.020450,NaN,NaN,0.035070
2024-04-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.005089,0.019601,-0.048548,0.017656,NaN,0.0,0.005841,NaN,NaN,0.010407
2024-04-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.007595,-0.007523,0.014706,0.000958,NaN,0.0,0.002503,NaN,NaN,0.010060

In [28]:
prices_df = pd.melt(data['Adj Close'].reset_index(), id_vars=['Date'], var_name='Ticker', value_name='Adj Close').dropna()
prices_df

              Date Ticker  Adj Close
262440  1994-05-19   ABCB   2.925288
262441  1994-05-20   ABCB   2.925288
262442  1994-05-23   ABCB   2.812778
262443  1994-05-24   ABCB   2.812778
262444  1994-05-25   ABCB   2.812778
...            ...    ...        ...
2699755 2024-04-18   ZION  39.240002
2699756 2024-04-19   ZION  39.919998
2699757 2024-04-22   ZION  41.320000
2699758 2024-04-23   ZION  41.750000
2699759 2024-04-24   ZION  42.169998

[842363 rows x 3 columns]

In [ ]:
---------------------------------------------------------------------------
IndexingError                             Traceback (most recent call last)
Cell In[5], line 18
     14 price_df = data_processor.price_df_for_date(date)
     16 # Update prices to reflect the new values after however much time has passed
     17 # Need to dot his first each date because the updated prices may affect our trading rule
---> 18 portfolio_db.update_prices(price_df)
     20 # Ask the trading rule what trades we should make
     21 open_trades_df, close_trades_df = trading_rule.compute_trades(signal_df=signal_df, date=date)

File ~\AppData\Local\Temp\ipykernel_11908\1327510139.py:217, in PortfolioDB.update_prices(self, price_df)
    212 if( not still_open.empty ):  
    213     self.trades_df = self.trades_df.merge(self.positions_df.loc[:,['security_id','quantity_multiple']],
    214                                           on=['security_id'],
    215                                           suffixes=('','_posdf'),
    216                                           how='left')
--> 217     self.trades_df.loc[still_open,'quantity'] = self.trades_df.loc[still_open,'quantity']*self.trades_df.loc[still_open,'quantity_multiple']          
    219     # drop the _posdf suffix values
    220     self.trades_df = self.trades_df.loc[:,~self.trades_df.columns.str.endswith('_posdf')]

File ~\anaconda3\lib\site-packages\pandas\core\indexing.py:1067, in _LocationIndexer.__getitem__(self, key)
   1065     if self._is_scalar_access(key):
   1066         return self.obj._get_value(*key, takeable=self._takeable)
-> 1067     return self._getitem_tuple(key)
   1068 else:
   1069     # we by definition only have the 0th axis
   1070     axis = self.axis or 0

File ~\anaconda3\lib\site-packages\pandas\core\indexing.py:1256, in _LocIndexer._getitem_tuple(self, tup)
   1253 if self._multi_take_opportunity(tup):
   1254     return self._multi_take(tup)
-> 1256 return self._getitem_tuple_same_dim(tup)

File ~\anaconda3\lib\site-packages\pandas\core\indexing.py:924, in _LocationIndexer._getitem_tuple_same_dim(self, tup)
    921 if com.is_null_slice(key):
    922     continue
--> 924 retval = getattr(retval, self.name)._getitem_axis(key, axis=i)
    925 # We should never have retval.ndim < self.ndim, as that should
    926 #  be handled by the _getitem_lowerdim call above.
    927 assert retval.ndim == self.ndim

File ~\anaconda3\lib\site-packages\pandas\core\indexing.py:1292, in _LocIndexer._getitem_axis(self, key, axis)
   1290     return self._get_slice_axis(key, axis=axis)
   1291 elif com.is_bool_indexer(key):
-> 1292     return self._getbool_axis(key, axis=axis)
   1293 elif is_list_like_indexer(key):
   1294 
   1295     # an iterable multi-selection
   1296     if not (isinstance(key, tuple) and isinstance(labels, MultiIndex)):

File ~\anaconda3\lib\site-packages\pandas\core\indexing.py:1091, in _LocationIndexer._getbool_axis(self, key, axis)
   1087 @final
   1088 def _getbool_axis(self, key, axis: int):
   1089     # caller is responsible for ensuring non-None axis
   1090     labels = self.obj._get_axis(axis)
-> 1091     key = check_bool_indexer(labels, key)
   1092     inds = key.nonzero()[0]
   1093     return self.obj._take_with_is_copy(inds, axis=axis)

File ~\anaconda3\lib\site-packages\pandas\core\indexing.py:2552, in check_bool_indexer(index, key)
   2550 indexer = result.index.get_indexer_for(index)
   2551 if -1 in indexer:
-> 2552     raise IndexingError(
   2553         "Unalignable boolean Series provided as "
   2554         "indexer (index of the boolean Series and of "
   2555         "the indexed object do not match)."
   2556     )
   2558 result = result.take(indexer)
   2560 # fall through for boolean

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [29]:
data.reset_index()

Price        Date Adj Close                                               \
Ticker             0891179D 1368189D 1429746D 1433410D 1489775D 1495307D
0      1973-05-03       NaN      NaN      NaN      NaN      NaN      NaN
1      1973-05-04       NaN      NaN      NaN      NaN      NaN      NaN
2      1973-05-07       NaN      NaN      NaN      NaN      NaN      NaN
3      1973-05-08       NaN      NaN      NaN      NaN      NaN      NaN
4      1973-05-09       NaN      NaN      NaN      NaN      NaN      NaN
...           ...       ...      ...      ...      ...      ...      ...
12851  2024-04-18       NaN      NaN      NaN      NaN      NaN      NaN
12852  2024-04-19       NaN      NaN      NaN      NaN      NaN      NaN
12853  2024-04-22       NaN      NaN      NaN      NaN      NaN      NaN
12854  2024-04-23       NaN      NaN      NaN      NaN      NaN      NaN
12855  2024-04-24       NaN      NaN      NaN      NaN      NaN      NaN

Price                              ...     Volume                        \
Ticker 1518080D 1520745D 1740293D  ...        VLY        WAL        WBS
0           NaN      NaN      NaN  ...        NaN        NaN        NaN
1           NaN      NaN      NaN  ...        NaN        NaN        NaN
2           NaN      NaN      NaN  ...        NaN        NaN        NaN
3           NaN      NaN      NaN  ...        NaN        NaN        NaN
4           NaN      NaN      NaN  ...        NaN        NaN        NaN
...         ...      ...      ...  ...        ...        ...        ...
12851       NaN      NaN      NaN  ...  4098500.0  1040800.0  1073800.0
12852       NaN      NaN      NaN  ...  8523600.0  3953300.0  1208500.0
12853       NaN      NaN      NaN  ...  4794500.0  1464600.0  1190000.0
12854       NaN      NaN      NaN  ...  9735400.0  1042800.0  2897900.0
12855       NaN      NaN      NaN  ...  7995200.0   618000.0  1481900.0

Price
Ticker        WD WIBC  WL      WTFC XBKS YRKB       ZION
0            NaN  NaN NaN       NaN  NaN  NaN        NaN
1            NaN  NaN NaN       NaN  NaN  NaN        NaN
2            NaN  NaN NaN       NaN  NaN  NaN        NaN
3            NaN  NaN NaN       NaN  NaN  NaN        NaN
4            NaN  NaN NaN       NaN  NaN  NaN        NaN
...          ...  ...  ..       ...  ...  ...        ...
12851   226600.0  NaN NaN  765300.0  NaN  NaN  2163600.0
12852   221100.0  NaN NaN  384800.0  NaN  NaN  3285800.0
12853   191200.0  NaN NaN  392800.0  NaN  NaN  4469900.0
12854   171900.0  NaN NaN  297000.0  NaN  NaN  2039800.0
12855   117800.0  NaN NaN  219400.0  NaN  NaN  1922400.0

[12856 rows x 1261 columns]

In [30]:
btc_data = btc_data['Adj Close'].reset_index()
btc_data['Ticker'] = "BTC-USD"
btc_data

           Date     Adj Close   Ticker
0    2014-09-17    457.334015  BTC-USD
1    2014-09-18    424.440002  BTC-USD
2    2014-09-19    394.795990  BTC-USD
3    2014-09-20    408.903992  BTC-USD
4    2014-09-21    398.821014  BTC-USD
...         ...           ...      ...
3504 2024-04-21  64926.644531  BTC-USD
3505 2024-04-22  66837.679688  BTC-USD
3506 2024-04-23  66407.273438  BTC-USD
3507 2024-04-24  64276.898438  BTC-USD
3508 2024-04-25  64029.878906  BTC-USD

[3509 rows x 3 columns]

In [31]:
prices_df = pd.concat([prices_df, btc_data]).reset_index(drop=True)

In [32]:
prices_df

             Date   Ticker     Adj Close
0      1994-05-19     ABCB      2.925288
1      1994-05-20     ABCB      2.925288
2      1994-05-23     ABCB      2.812778
3      1994-05-24     ABCB      2.812778
4      1994-05-25     ABCB      2.812778
...           ...      ...           ...
845867 2024-04-21  BTC-USD  64926.644531
845868 2024-04-22  BTC-USD  66837.679688
845869 2024-04-23  BTC-USD  66407.273438
845870 2024-04-24  BTC-USD  64276.898438
845871 2024-04-25  BTC-USD  64029.878906

[845872 rows x 3 columns]

In [33]:
prices_df['ret'] = prices_df.groupby('Ticker')['Adj Close'].pct_change()

In [34]:
mkt_rf_df = pd.read_csv('data/mkt_rf_daily.csv')
date = pd.to_datetime(mkt_rf_df.loc[:,'date'],format='%Y%m%d')

In [38]:
prices_df = prices_df[(prices_df['Date'].isin(date)) & (prices_df['Date'] >= '2014-09-17')]
prices_df

             Date   Ticker     Adj Close       ret
5119   2014-09-17     ABCB     20.138268 -0.001322
5120   2014-09-18     ABCB     20.333704  0.009705
5121   2014-09-19     ABCB     19.827358 -0.024902
5122   2014-09-22     ABCB     19.463146 -0.018369
5123   2014-09-23     ABCB     19.534214  0.003651
...           ...      ...           ...       ...
845809 2024-02-23  BTC-USD  50731.949219 -0.011169
845812 2024-02-26  BTC-USD  54522.402344  0.053914
845813 2024-02-27  BTC-USD  57085.371094  0.047008
845814 2024-02-28  BTC-USD  62504.789062  0.094935
845815 2024-02-29  BTC-USD  61198.382812 -0.020901

[294276 rows x 4 columns]

In [40]:
prices_df

             Date   Ticker     Adj Close       ret
5119   2014-09-17     ABCB     20.138268 -0.001322
5120   2014-09-18     ABCB     20.333704  0.009705
5121   2014-09-19     ABCB     19.827358 -0.024902
5122   2014-09-22     ABCB     19.463146 -0.018369
5123   2014-09-23     ABCB     19.534214  0.003651
...           ...      ...           ...       ...
845809 2024-02-23  BTC-USD  50731.949219 -0.011169
845812 2024-02-26  BTC-USD  54522.402344  0.053914
845813 2024-02-27  BTC-USD  57085.371094  0.047008
845814 2024-02-28  BTC-USD  62504.789062  0.094935
845815 2024-02-29  BTC-USD  61198.382812 -0.020901

[294276 rows x 4 columns]

In [36]:
# Save the DataFrame to CSV format
prices_df[prices_df['Ticker'] == "BTC-USD"].to_csv('data/bitcoin.csv', index=False)
prices_df.to_csv('data/yf-prices.csv', index=False)

In [26]:
" ".join([i for i in unique_tickers if len(i) <= 5])

'FSBC PWOD SIVBQ FRCB BFST CCNE WTFC VBTX CBAN SBNY CCB BSVN SICP MCB STT CFIC FBK WAL MPB BCAL FBC EBC TSC CATC STXB COSO FHB FNCB SLCT FMBH MFNC CARO INBK GNBC FRBA TFIN SBFG AUB UVSP IBTX FGBI FBMS PFBC YRKB BCBP ACBI LOB SBBX MSL NCOM FISI BOCH SFST PMHG SSFN MOFG ISTR FFBC IBKC ABCB FFWM CIVB SBCF HBMD PNFP SMBK EVBN CSFL CHCO UBSI RNST CNOB HWC LBAI VLY HMST SBSI UNTY TCBI DCOM FSB CUBI HTLF HOMB BNCN UCBI FLIC BANR SRCE CVLY SBCP BOTJ OPB CFG FCTY TLMR SBTB BNK CPF GWB QCRH SBKK WD NPBC EGBN BRBS CASH UMPQ PGC PEBO ZION TCF COB SHBI XBKS BWFG BKU OSBC FNB LCNB GFED PVL TCFC UMBF FSGI CFIS IBCP SNV VGBK WBS FNLC TBBK FBIZ PVTB FCCO TMP COBZ RF SVBA CBU HAFC HOPE FMTB TRST EFSC WIBC PFC KEY FUBC UCBA SNBC FITB'

In [27]:
wrds = pd.read_csv('data/wrds_bank2.csv')

/var/folders/q3/hm2wt3010319t7l0hz8w8s4h0000gn/T/ipykernel_9644/382393611.py:1: DtypeWarning: Columns (6,13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  wrds = pd.read_csv('data/wrds_bank2.csv')

In [30]:
# Convert both lists to sets for efficient set operations
len(set(wrds['TICKER'].unique()) - set(unique_tickers))


set(unique_tickers) - set(wrds['TICKER'].unique())

{'0891179D',
 '1368189D',
 '1489775D',
 '1520745D',
 '1740293D',
 '1935465D',
 '1965436D',
 '2301851D',
 '2370058D',
 '8989898D',
 '9191919D',
 '9745633D',
 '9966911D',
 '9990301D',
 '9998123D',
 '9999777D',
 'CFIC',
 'CFIS',
 'COSO',
 'FMTB',
 'FRCB',
 'PMHG',
 'SBKK',
 'SBTB',
 'SICP',
 'SIVBQ',
 'SVBA',
 'VGBK',
 'YRKB'}

In [21]:
wrds['TICKER'].unique()

array(['TMP', 'TCB', 'TCF', 'FNB', 'WBS', 'FLIC', 'UBSI', 'CHCO', 'CPF',
       'CHFC', 'CBRX', 'JNP', 'WD', 'BKU', 'LCNB', 'NDRO', 'PVL', 'BOTJ',
       'HMST', 'HBMD', 'CNOB', 'INBK', 'IBTX', 'CUBI', 'TSC', 'TCFC',
       'FRBA', 'TLMR', 'OPB', 'BWFG', 'FMBH', 'CARO', 'ISTR', 'SBCP',
       'BNK', 'GNBC', 'CFG', 'GWB', 'VBTX', 'FFWM', nan, 'TBK', 'TFIN',
       'FSB', 'NCOM', 'LOB', 'ACBI', 'FGBI', 'SMBK', 'FSBC', 'FHB', 'FBK',
       'CATC', 'MCB', 'FNCB', 'BFST', 'STXB', 'CCB', 'BSVN', 'BRBS',
       'EBC', 'SNV', 'BCAL', 'FITB', 'RF', 'FFBC', 'SRCE', 'NPBC', 'KEY',
       'SBCF', 'STT', 'HBHC', 'HWC', 'TRST', 'RNST', 'UMBF', 'PEBO',
       'MSL', 'FDEF', 'PFC', 'CASH', 'QCRH', 'UBSH', 'AUB', 'OSBC', 'VLY',
       'ABCB', 'COB', 'GFED', 'IBKC', 'BANR', 'CNBC', 'DCOM', 'SNBC',
       'ZION', 'UNTY', 'WTFC', 'CVLY', 'FBC', 'BAM', 'BN', 'MPB', 'BBCN',
       'HOPE', 'SBBX', 'CBAN', 'UMPQ', 'SBSI', 'COBZ', 'CCNE', 'WIBC',
       'CBU', 'FISI', 'PVTB', 'FNLC', 'EGBN', 'LBAI', 'PGC', 'HAFC',
       'CSFL', 'IBCP', 'FCZA', 'CIVB', 'SHBI', 'EVBN', 'MFNC', 'SBFG',
       'PWOD', 'UCBI', 'PNFP', 'FCCO', 'HTLF', 'BNCN', 'TCBI', 'UVSP',
       'SBNY', 'BOCH', 'XBKS', 'SFST', 'TBBK', 'EFSC', 'PFBC', 'WAL',
       'FSGI', 'FBIZ', 'BCBP', 'UCBA', 'FBMS', 'HOMB', 'NCBC', 'SLCT',
       'HMPR', 'SSFN', 'MOFG', 'BDGE', 'FCTY', 'FUBC'], dtype=object)