In [2]:
import yfinance as yf
import pandas as pd

/Users/carson/anaconda3/lib/python3.11/site-packages/yfinance/base.py:48: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  _empty_series = pd.Series()

In [16]:
def rm_us(str):
    return str.split(" US")[0]

us_issuances = pd.read_csv('data/Bank US Secondaries.csv')
us_issuances['Issuer Ticker'] = us_issuances['Issuer Ticker'].apply(rm_us)
us_issuances = us_issuances[['Announced Date', 'Issuer Ticker', 'Offer Size (M)']].rename(columns = {'Announced Date': 'Date', 'Issuer Ticker': 'Ticker'})
us_issuances.to_csv('data/signal-raw.csv', index=False)

unique_tickers = list(us_issuances['Ticker'].unique())

# For some reason we are unable to append BTC and download in one file: run into yfinance error so have to download separately
data = yf.download(unique_tickers)
btc_data = yf.download("BTC-USD")

[*********************100%%**********************]  168 of 168 completed

57 Failed downloads:
['COB', 'FCTY', 'SVBA', 'FUBC', 'FMTB', 'VGBK', 'CFIS', 'FSGI', 'XBKS', 'PVTB', 'WIBC', 'BNCN', 'NPBC', 'TLMR', 'SNBC', 'SBCP']: Exception('%ticker%: No price data found, symbol may be delisted (1d 1925-05-17 -> 2024-04-23)')
['YRKB', 'TSC', '1740293D', '8989898D', '0891179D', '1368189D', 'TCFC', '9966911D', 'HBMD', 'FBC', 'NCOM', '2370058D', 'SLCT', 'GFED', '9990301D', '1520745D', '2301851D', '9999777D', 'IBKC', 'ACBI', 'SBBX', '9191919D', '9745633D', '1935465D', 'FSB', 'UMPQ', 'SBKK', 'SSFN', 'MSL', 'SBTB', 'TCF', 'OPB', '1965436D', '9998123D', 'GWB', 'CARO', 'CSFL', 'STXB', 'BOCH', '1489775D', 'MFNC']: Exception('%ticker%: No timezone found, symbol may be delisted')
[*********************100%%**********************]  1 of 1 completed

In [25]:
unique_tickers

['FSBC',
 'PWOD',
 'SIVBQ',
 'FRCB',
 'BFST',
 'CCNE',
 'WTFC',
 'VBTX',
 'CBAN',
 'SBNY',
 'CCB',
 'BSVN',
 'SICP',
 'MCB',
 'STT',
 'CFIC',
 'FBK',
 'WAL',
 'MPB',
 'BCAL',
 'FBC',
 'EBC',
 'TSC',
 'CATC',
 '8989898D',
 'STXB',
 'COSO',
 'FHB',
 'FNCB',
 '9990301D',
 '9966911D',
 '1965436D',
 'SLCT',
 'FMBH',
 'MFNC',
 'CARO',
 'INBK',
 'GNBC',
 'FRBA',
 'TFIN',
 '2301851D',
 'SBFG',
 'AUB',
 'UVSP',
 'IBTX',
 'FGBI',
 'FBMS',
 'PFBC',
 'YRKB',
 'BCBP',
 'ACBI',
 'LOB',
 'SBBX',
 'MSL',
 'NCOM',
 'FISI',
 '1520745D',
 'BOCH',
 'SFST',
 'PMHG',
 'SSFN',
 'MOFG',
 'ISTR',
 'FFBC',
 'IBKC',
 'ABCB',
 'FFWM',
 'CIVB',
 'SBCF',
 'HBMD',
 'PNFP',
 'SMBK',
 'EVBN',
 'CSFL',
 'CHCO',
 'UBSI',
 'RNST',
 'CNOB',
 'HWC',
 'LBAI',
 'VLY',
 'HMST',
 'SBSI',
 'UNTY',
 'TCBI',
 'DCOM',
 'FSB',
 'CUBI',
 'HTLF',
 'HOMB',
 'BNCN',
 'UCBI',
 'FLIC',
 '9998123D',
 'BANR',
 'SRCE',
 'CVLY',
 'SBCP',
 'BOTJ',
 'OPB',
 'CFG',
 'FCTY',
 'TLMR',
 'SBTB',
 'BNK',
 'CPF',
 'GWB',
 'QCRH',
 'SBKK',
 'WD',
 'NPBC',
 'EGBN',
 'BRBS',
 'CASH',
 'UMPQ',
 'PGC',
 'PEBO',
 'ZION',
 'TCF',
 'COB',
 'SHBI',
 'XBKS',
 'BWFG',
 'BKU',
 'OSBC',
 'FNB',
 'LCNB',
 'GFED',
 'PVL',
 'TCFC',
 'UMBF',
 'FSGI',
 'CFIS',
 'IBCP',
 'SNV',
 'VGBK',
 '1935465D',
 'WBS',
 'FNLC',
 'TBBK',
 'FBIZ',
 'PVTB',
 '1740293D',
 '1489775D',
 'FCCO',
 'TMP',
 '9999777D',
 'COBZ',
 'RF',
 'SVBA',
 'CBU',
 '9191919D',
 'HAFC',
 'HOPE',
 '1368189D',
 'FMTB',
 'TRST',
 'EFSC',
 'WIBC',
 'PFC',
 '2370058D',
 'KEY',
 'FUBC',
 'UCBA',
 'SNBC',
 '9745633D',
 '0891179D',
 'FITB']

In [4]:
us_issuances

           Date    Ticker  Offer Size (M)
0     3/27/2024      FSBC         75.0375
1     9/13/2023      PWOD         20.0000
2      3/9/2023     SIVBQ       1250.0000
3      2/7/2023      FRCB        402.5000
4    10/12/2022      BFST         50.0000
..          ...       ...             ...
270    3/9/2011  9745633D        230.0010
271    3/7/2011      FISI         45.5102
272    3/3/2011  0891179D         38.6400
273   2/28/2011      TBBK         57.8737
274   1/19/2011      FITB       1870.0000

[275 rows x 3 columns]

In [5]:
yahoo_adjclose = data['Adj Close']
yahoo_adjclose.dropna(axis=1, how='all', inplace=True)

/var/folders/q3/hm2wt3010319t7l0hz8w8s4h0000gn/T/ipykernel_74241/575493338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yahoo_adjclose.dropna(axis=1, how='all', inplace=True)

In [6]:
yahoo_adjclose['BTC'] = btc_data['Adj Close']

/var/folders/q3/hm2wt3010319t7l0hz8w8s4h0000gn/T/ipykernel_74241/1614684796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yahoo_adjclose['BTC'] = btc_data['Adj Close']

In [7]:
data['Adj Close'].pct_change()

Ticker,0891179D,1368189D,1489775D,1520745D,1740293D,1935465D,1965436D,2301851D,2370058D,8989898D,...,VGBK,VLY,WAL,WBS,WD,WIBC,WTFC,XBKS,YRKB,ZION
Date,,,,,,,,,,,,,,,,,,,,,
1980-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980-03-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.011363
1980-03-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1980-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1980-03-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.011494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.005420,-0.008999,-0.008652,-0.011437,NaN,-0.007629,NaN,NaN,-0.006393
2024-04-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-0.029650,-0.015670,-0.010692,0.012237,NaN,-0.018699,NaN,NaN,-0.022519
2024-04-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000,0.003799,0.001323,-0.000879,NaN,0.005293,NaN,NaN,-0.003544
2024-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.015278,0.004505,-0.002863,-0.010230,NaN,0.003580,NaN,NaN,-0.003049
2024-04-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.054720,0.030499,0.024740,0.014003,NaN,0.021091,NaN,NaN,0.017329

In [8]:
prices_df = pd.melt(data['Adj Close'].reset_index(), id_vars=['Date'], var_name='Ticker', value_name='Adj Close').dropna()
prices_df

              Date Ticker  Adj Close
181456  1994-05-19   ABCB   2.925287
181457  1994-05-20   ABCB   2.925287
181458  1994-05-23   ABCB   2.812776
181459  1994-05-24   ABCB   2.812776
181460  1994-05-25   ABCB   2.812776
...            ...    ...        ...
1867651 2024-04-15   ZION  40.410000
1867652 2024-04-16   ZION  39.500000
1867653 2024-04-17   ZION  39.360001
1867654 2024-04-18   ZION  39.240002
1867655 2024-04-19   ZION  39.919998

[651802 rows x 3 columns]

In [9]:
data.reset_index()

Price        Date Adj Close                                               \
Ticker             0891179D 1368189D 1489775D 1520745D 1740293D 1935465D
0      1980-03-17       NaN      NaN      NaN      NaN      NaN      NaN
1      1980-03-18       NaN      NaN      NaN      NaN      NaN      NaN
2      1980-03-19       NaN      NaN      NaN      NaN      NaN      NaN
3      1980-03-20       NaN      NaN      NaN      NaN      NaN      NaN
4      1980-03-21       NaN      NaN      NaN      NaN      NaN      NaN
...           ...       ...      ...      ...      ...      ...      ...
11112  2024-04-15       NaN      NaN      NaN      NaN      NaN      NaN
11113  2024-04-16       NaN      NaN      NaN      NaN      NaN      NaN
11114  2024-04-17       NaN      NaN      NaN      NaN      NaN      NaN
11115  2024-04-18       NaN      NaN      NaN      NaN      NaN      NaN
11116  2024-04-19       NaN      NaN      NaN      NaN      NaN      NaN

Price                              ... Volume                        \
Ticker 1965436D 2301851D 2370058D  ...   VGBK        VLY        WAL
0           NaN      NaN      NaN  ...    NaN        NaN        NaN
1           NaN      NaN      NaN  ...    NaN        NaN        NaN
2           NaN      NaN      NaN  ...    NaN        NaN        NaN
3           NaN      NaN      NaN  ...    NaN        NaN        NaN
4           NaN      NaN      NaN  ...    NaN        NaN        NaN
...         ...      ...      ...  ...    ...        ...        ...
11112       NaN      NaN      NaN  ...    NaN  5747900.0  1104600.0
11113       NaN      NaN      NaN  ...    NaN  3558400.0   742600.0
11114       NaN      NaN      NaN  ...    NaN  2824500.0   746400.0
11115       NaN      NaN      NaN  ...    NaN  4098500.0  1040800.0
11116       NaN      NaN      NaN  ...    NaN  8523600.0  3953300.0

Price
Ticker        WBS        WD WIBC      WTFC XBKS YRKB     ZION
0             NaN       NaN  NaN       NaN  NaN  NaN    72000
1             NaN       NaN  NaN       NaN  NaN  NaN     8400
2             NaN       NaN  NaN       NaN  NaN  NaN        0
3             NaN       NaN  NaN       NaN  NaN  NaN     1200
4             NaN       NaN  NaN       NaN  NaN  NaN    38400
...           ...       ...  ...       ...  ...  ...      ...
11112    865600.0  306500.0  NaN  419000.0  NaN  NaN  2126600
11113   1321300.0  375200.0  NaN  918800.0  NaN  NaN  1485000
11114    650100.0  242200.0  NaN  523600.0  NaN  NaN  1714600
11115   1073800.0  226600.0  NaN  765300.0  NaN  NaN  2163600
11116   1208500.0  221100.0  NaN  384800.0  NaN  NaN  3285800

[11117 rows x 1009 columns]

In [10]:
btc_data = btc_data['Adj Close'].reset_index()
btc_data['Ticker'] = "BTC-USD"
btc_data

           Date     Adj Close   Ticker
0    2014-09-17    457.334015  BTC-USD
1    2014-09-18    424.440002  BTC-USD
2    2014-09-19    394.795990  BTC-USD
3    2014-09-20    408.903992  BTC-USD
4    2014-09-21    398.821014  BTC-USD
...         ...           ...      ...
3500 2024-04-17  61276.691406  BTC-USD
3501 2024-04-18  63512.753906  BTC-USD
3502 2024-04-19  63843.570312  BTC-USD
3503 2024-04-20  64994.441406  BTC-USD
3504 2024-04-22  64813.390625  BTC-USD

[3505 rows x 3 columns]

In [11]:
prices_df = pd.concat([prices_df, btc_data]).reset_index(drop=True)

In [12]:
prices_df

             Date   Ticker     Adj Close
0      1994-05-19     ABCB      2.925287
1      1994-05-20     ABCB      2.925287
2      1994-05-23     ABCB      2.812776
3      1994-05-24     ABCB      2.812776
4      1994-05-25     ABCB      2.812776
...           ...      ...           ...
655302 2024-04-17  BTC-USD  61276.691406
655303 2024-04-18  BTC-USD  63512.753906
655304 2024-04-19  BTC-USD  63843.570312
655305 2024-04-20  BTC-USD  64994.441406
655306 2024-04-22  BTC-USD  64813.390625

[655307 rows x 3 columns]

In [13]:
prices_df['ret'] = prices_df.groupby('Ticker')['Adj Close'].pct_change()

In [13]:
mkt_rf_df = pd.read_csv('data/mkt_rf_daily.csv')
date = pd.to_datetime(mkt_rf_df.loc[:,'date'],format='%Y%m%d')

In [15]:
prices_df = prices_df[(prices_df['Date'].isin(date)) & (prices_df['Date'] >= '2014-09-17')]
prices_df

             Date   Ticker     Adj Close       ret
5119   2014-09-17     ABCB     20.138273 -0.001321
5120   2014-09-18     ABCB     20.333702  0.009704
5121   2014-09-19     ABCB     19.827356 -0.024902
5122   2014-09-22     ABCB     19.463150 -0.018369
5123   2014-09-23     ABCB     19.534212  0.003651
...           ...      ...           ...       ...
655248 2024-02-23  BTC-USD  50731.949219 -0.011169
655251 2024-02-26  BTC-USD  54522.402344  0.053914
655252 2024-02-27  BTC-USD  57085.371094  0.047008
655253 2024-02-28  BTC-USD  62504.789062  0.094935
655254 2024-02-29  BTC-USD  61198.382812 -0.020901

[249072 rows x 4 columns]

In [16]:
# Save the DataFrame to CSV format
prices_df[prices_df['Ticker'] == "BTC-USD"].to_csv('data/bitcoin.csv', index=False)
prices_df.to_csv('data/yf-prices.csv', index=False)

In [26]:
" ".join([i for i in unique_tickers if len(i) <= 5])

'FSBC PWOD SIVBQ FRCB BFST CCNE WTFC VBTX CBAN SBNY CCB BSVN SICP MCB STT CFIC FBK WAL MPB BCAL FBC EBC TSC CATC STXB COSO FHB FNCB SLCT FMBH MFNC CARO INBK GNBC FRBA TFIN SBFG AUB UVSP IBTX FGBI FBMS PFBC YRKB BCBP ACBI LOB SBBX MSL NCOM FISI BOCH SFST PMHG SSFN MOFG ISTR FFBC IBKC ABCB FFWM CIVB SBCF HBMD PNFP SMBK EVBN CSFL CHCO UBSI RNST CNOB HWC LBAI VLY HMST SBSI UNTY TCBI DCOM FSB CUBI HTLF HOMB BNCN UCBI FLIC BANR SRCE CVLY SBCP BOTJ OPB CFG FCTY TLMR SBTB BNK CPF GWB QCRH SBKK WD NPBC EGBN BRBS CASH UMPQ PGC PEBO ZION TCF COB SHBI XBKS BWFG BKU OSBC FNB LCNB GFED PVL TCFC UMBF FSGI CFIS IBCP SNV VGBK WBS FNLC TBBK FBIZ PVTB FCCO TMP COBZ RF SVBA CBU HAFC HOPE FMTB TRST EFSC WIBC PFC KEY FUBC UCBA SNBC FITB'

In [27]:
wrds = pd.read_csv('data/wrds_bank2.csv')

/var/folders/q3/hm2wt3010319t7l0hz8w8s4h0000gn/T/ipykernel_9644/382393611.py:1: DtypeWarning: Columns (6,13,17) have mixed types. Specify dtype option on import or set low_memory=False.
  wrds = pd.read_csv('data/wrds_bank2.csv')

In [30]:
# Convert both lists to sets for efficient set operations
len(set(wrds['TICKER'].unique()) - set(unique_tickers))


set(unique_tickers) - set(wrds['TICKER'].unique())

{'0891179D',
 '1368189D',
 '1489775D',
 '1520745D',
 '1740293D',
 '1935465D',
 '1965436D',
 '2301851D',
 '2370058D',
 '8989898D',
 '9191919D',
 '9745633D',
 '9966911D',
 '9990301D',
 '9998123D',
 '9999777D',
 'CFIC',
 'CFIS',
 'COSO',
 'FMTB',
 'FRCB',
 'PMHG',
 'SBKK',
 'SBTB',
 'SICP',
 'SIVBQ',
 'SVBA',
 'VGBK',
 'YRKB'}

In [21]:
wrds['TICKER'].unique()

array(['TMP', 'TCB', 'TCF', 'FNB', 'WBS', 'FLIC', 'UBSI', 'CHCO', 'CPF',
       'CHFC', 'CBRX', 'JNP', 'WD', 'BKU', 'LCNB', 'NDRO', 'PVL', 'BOTJ',
       'HMST', 'HBMD', 'CNOB', 'INBK', 'IBTX', 'CUBI', 'TSC', 'TCFC',
       'FRBA', 'TLMR', 'OPB', 'BWFG', 'FMBH', 'CARO', 'ISTR', 'SBCP',
       'BNK', 'GNBC', 'CFG', 'GWB', 'VBTX', 'FFWM', nan, 'TBK', 'TFIN',
       'FSB', 'NCOM', 'LOB', 'ACBI', 'FGBI', 'SMBK', 'FSBC', 'FHB', 'FBK',
       'CATC', 'MCB', 'FNCB', 'BFST', 'STXB', 'CCB', 'BSVN', 'BRBS',
       'EBC', 'SNV', 'BCAL', 'FITB', 'RF', 'FFBC', 'SRCE', 'NPBC', 'KEY',
       'SBCF', 'STT', 'HBHC', 'HWC', 'TRST', 'RNST', 'UMBF', 'PEBO',
       'MSL', 'FDEF', 'PFC', 'CASH', 'QCRH', 'UBSH', 'AUB', 'OSBC', 'VLY',
       'ABCB', 'COB', 'GFED', 'IBKC', 'BANR', 'CNBC', 'DCOM', 'SNBC',
       'ZION', 'UNTY', 'WTFC', 'CVLY', 'FBC', 'BAM', 'BN', 'MPB', 'BBCN',
       'HOPE', 'SBBX', 'CBAN', 'UMPQ', 'SBSI', 'COBZ', 'CCNE', 'WIBC',
       'CBU', 'FISI', 'PVTB', 'FNLC', 'EGBN', 'LBAI', 'PGC', 'HAFC',
       'CSFL', 'IBCP', 'FCZA', 'CIVB', 'SHBI', 'EVBN', 'MFNC', 'SBFG',
       'PWOD', 'UCBI', 'PNFP', 'FCCO', 'HTLF', 'BNCN', 'TCBI', 'UVSP',
       'SBNY', 'BOCH', 'XBKS', 'SFST', 'TBBK', 'EFSC', 'PFBC', 'WAL',
       'FSGI', 'FBIZ', 'BCBP', 'UCBA', 'FBMS', 'HOMB', 'NCBC', 'SLCT',
       'HMPR', 'SSFN', 'MOFG', 'BDGE', 'FCTY', 'FUBC'], dtype=object)

In [19]:
pd.DataFrame(yf.download('KBE')['Adj Close']).reset_index().rename(columns = {'Adj Close': 'KBE'}).to_csv('data/bank.csv', index=False)

[*********************100%%**********************]  1 of 1 completed